.finishing {
  padding-top: 25px;
  padding-bottom: 31px;

  &__header {
    margin-bottom: 52px;
  }

  &__list {
    display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    gap: 33px;
  }

  &__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    transition: box-shadow $short;
  }

  &__list-item:hover {
    box-shadow: 0px 0px 50px 0px $color-dark-semitransparent;
  }

  &__image {
    margin-bottom: 37px;
  }

  &__title {
    margin-bottom: 42px;
    padding-left: 0;
    padding-right: 0;
    font-size: 25px;
    line-height: 25px;
  }

  &__link {
    display: block;
    padding: 14px 30px;
    font-size: 14px;
    // line-height: 55px;
    color: $color-white;
    background-color: $color-blue;
    border-radius: 3px;
    text-transform: uppercase;

  }

  &__link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }
}
