html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// *:focus {
//   outline: none;
// }

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

img, picture, svg {
  display: block;
}

body {
  font-family: $font-OpenSans;
  font-size: 16px;
  line-height: 1.5;
  color: $color-dark;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: $container-max;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.main {
  background-color: $color-white;
}

.balcony-box {
  background-image: url('../img/bg_image.jpg');
  background-position: center 343px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-white;
}

.section-header,
.card-title {
  font-family: $font-Museo;
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}


@media (max-width: 992px) {
  .section-header,
  .card-title {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 768px) {
  .section-header,
  .card-title {
    font-size: 24px;
    line-height: 30px;
  }
}

// @media(max-width: 600px) {

// }

@media (max-width: 480px) {
  .section-header,
  .card-title {
    font-size: 20px;
    line-height: 24px;
  }
}


