.ideas {
  padding-top: 64px;
  padding-bottom: 89px;
  background-color: $color-white;

  &__header {
    margin-bottom: 45px;
  }

  &__list {
    display: flex;
    column-gap: 29px;
    row-gap: 30px;
    flex-wrap: wrap;
  }

  &__image-box {
    position: relative;
    margin-bottom: 3px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
      background-color: $color-white-semitransparent;
      opacity: 0;
      transition: opacity $short;
    }

    &:hover {
      .ideas__link {
        opacity: 1;
        visibility: visible;
      }
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:  18px 35px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 3px;
    color: $color-white;
    background-color: $color-blue;
    opacity: 0;
    visibility: hidden;
    transition: opacity $short;
  }

  &__title {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color: $color-grey-two;

    &--gard {
      padding-left: 17px;
      padding-right: 17px;
    }
  }
}




@media (max-width: 1200px) {
  .ideas {
    padding-top: 40px;
    padding-bottom: 50px;

    &__list {
      padding-left: 10%;
      padding-right: 10%;
      justify-content: space-evenly;
      column-gap: 25px;
    }
  }
}

@media (max-width: 992px) {
  .ideas {
    padding-top: 30px;
    padding-bottom: 40px;

    &__header {
      margin-bottom: 30px;
    }

    &__list {
      padding-left: 0;
      padding-right: 0;
      column-gap: 25px;
    }
  }
}

@media (max-width: 768px) {
  .ideas {
    padding-bottom: 35px;

    &__header {
      margin-bottom: 30px;
    }

    &__list {
      row-gap: 25px;
    }

    &__link {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (max-width: 600px) {
  .ideas {
    padding-top: 20px;
    padding-bottom: 25px;

    &__header {
      margin-bottom: 20px;
    }

    &__list {
      row-gap: 15px;
    }

    &__link {
      padding: 15px 30px;
    }

    &__title {
      padding: 16px 10px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
